article > .article-body {
    margin-left: 10px;
    margin-right: 10px;
}
.article-body img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
}
/* The font sizes below have been chosed based on 75% of the Bootstrap default. */
.article-body > h1 {
    font-size: 27px;
}
.article-body > h2 {
    font-size: 23px;
}
.article-body > h3 {
    font-size: 18px;
}
.article-body > h4 {
    font-size: 14px;
}
/* Four levels of headings should be sufficient.  Anything else will be smaller than body text. */
