{% extends "master.html" %}
{% load static from staticfiles %}

{% block title %}Blog{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            {% for blog in blogs %}
                <article>
                    <header>
                        <h1><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h1>
                        <span>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <time datetime="{{ blog.publish_date.isoformat }}">{{ blog.publish_date|date:"F j, Y H:i:s" }}</time>
                            {% if blog.update_date %}
                                &mdash; <em><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> <time datetime="{{ blog.update_date.isoformat }}">{{ blog.update_date|date:"F j, Y H:i:s" }}</time></em>
                            {% endif %}
                        </span>
                        <hr>
                    </header>
                    {{ blog.formatted_preview|safe }}
                    <footer class="text-right"><a href="{{ blog.get_absolute_url }}">Read more...</a></footer>
                </article>
                {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-1"></div>
    </div>
{% endblock %}
